---
import type { Tag } from "../lib/data"
import type { ClassProps } from "../lib/props"

export type HTMLAttributeAnchorTarget = "_self" | "_blank" | "_parent" | "_top" | string

export interface Props extends ClassProps {
    tag: Tag
    target?: HTMLAttributeAnchorTarget
}

let { tag, class: className = "", "class:list": classList = [], target = "_blank" } = Astro.props
let hasLink = !!tag.link
let classes =
    "rounded-lg shadow-hard border-2 font-serif-text border-black p-2 bg-amber-500 dark:bg-purple-600"
---

{
    hasLink ? (
        <a
            class:list={[
                className,
                ...classList,
                classes,
                "hover:bg-amber-600 dark:hover:bg-purple-800",
            ]}
            href={tag.link}
            rel="noreferrer"
            target={target}
        >
            {tag.name}
            {/* {icon} */}
        </a>
    ) : (
        <span class:list={[className, ...classList, classes]}>
            {tag.name}
            {/* {icon} */}
        </span>
    )
}
