---
import { ViewTransitions } from "astro:transitions"
import "../styles/index.css"
import { site } from "../lib/site"
---

<html
    class="h-full w-full bg-[#f9ecdf] text-black dark:bg-[#17191e] dark:text-white"
    lang="en"
    transition:animate="none"
>
    <head>
        <meta charset="utf-8" />
        <link href={site.favicon} rel="icon" type="image/svg+xml" />
        <meta content="width=device-width" name="viewport" />
        <meta content={Astro.generator} name="generator" />
        <ViewTransitions />
        <meta content={site.description} name="description" />
        <meta content={site.title} property="og:title" />
        <meta content="website" property="og:type" />
        <meta content={site.socialMediaImage.dark} property="og:image" />
        <meta content={site.description} property="og:description" />
        <meta content={Astro.url.toString()} property="og:url" />
        <title>{site.title}</title>
    </head>
    <body class="h-full">
        <slot />
    </body>
</html>
